*{
    font-family: 'Be Vietnam Pro', sans-serif ;
}

.hero-container{
    overflow-x: hidden;
    position: relative;      
}

#orangeBg{
background-color:  hsl(12, 88%, 59%);
padding:70px;
position: relative;
}

#orangeBg h1{
color:  white;  
font-size: 35px;
z-index: 2;
}

footer{
    background-color: hsl(233, 12%, 13%);
}

#navBarMenu {
    z-index:3;
    position: absolute; 
    top: 90%; 
    width: 100%;
    padding: 25px ;
     background-color: rgba(255,255,255,0.65);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}
ul a{
    color: black !important;
font-size: 16px;
}


#burgerBtn,
#closeBtn {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.table-pattern {
  position: absolute;
  top: -190px;
  left: 15%;
  z-index: -1;
  max-width: 120%;
  min-width:70%;
 
}

.table-pattern-small {
    position: absolute;
    top: 490px;
    left: 62%;
    max-width: 80%;
  min-width:50%;
    z-index: 1!important;

}
.illustration-intro {
  z-index: 2;
   width: 100%;
}

.navbar-logo{
max-width: 40%;
}
.fs-6{
  font-size: 12px!important;
}

.btn-danger{
background-color: hsl(12, 88%, 59%);
border: none;
box-shadow: 0 4px 10px hsla(12, 88%, 59%, 0.4);
z-index: 2;
position: relative;
}
.btn-danger:hover{
background-color: hsl(13, 80%, 79%);
}
.btn-white{
background-color: white;
border: none;
color:hsl(12, 88%, 59%);
cursor: pointer!important;
}
.manage-description, .title-manage{
   z-index: 2;
   position: relative;
      
}

.text-justify {
  text-align: justify;
}
.number-badge{
    background-color: hsl(12, 88%, 59%);
    color: white; 
    padding:8px 20px;
    border-radius: 20px;
    position:relative;
    z-index: 1;
    left:20px;
  
}
.badge-title{
    background-color: hsla(12, 88%, 59%, 0.155);
    color:hsl(233, 12%, 13%);
    display:inline-block;
    z-index: 2;
    font-weight: 600;
    font-size: 15px;
    min-width: 309px;
    margin-left: 5px !important;
    padding: 8px 25px 8px 35px;
    flex: 1;
    }


.img-testimonial{
position: relative;
    width:20%;
    top:-50px;
    margin-bottom:-5px;
    z-index:2;
}

.card{
    background-color: hsl(0, 0%, 98%);
    border:none ;
    color:hsl(228, 39%, 23%);
    margin-top: 90px;
}


.bg-simplify-section-mobile{
    position: absolute;
    left: 0px;
    top: 40px;
    z-index: 1;
    max-height: 250px; 


 
}
.placeholder-design::placeholder{
    font-size: 13px;
    padding: 10px;
}
.go-btn{
  background-color: #ff4500;  
  padding: 12px 25px; 
  margin-left: 5px;
}

footer ul a{
    font-size:16px!important;
    font-weight: 200 !important;
}


.social-icon{
    width:9%;
    margin:5px;
}
.footer-logo{
  filter: invert(100%) brightness(200%) saturate(0%);
}

.home-title{
    font-size:35px!important;
    color:hsl(228, 39%, 23%);
   z-index: 3;
   position:relative;
}
.title-testimonial{
    font-size: 30px!important;
    color:hsl(228, 39%, 23%);
    font-weight:bolder;
    margin-bottom: -5px;;
}

.duplicate{
    display: none !important;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    width: max(30vw, 300px);
    height: max(25vh, 270px);
    padding: 20px;
    border-radius: 8px;
    z-index: 2 !important;
    animation: none !important;
     position: relative;
}

  .features-col {
    padding-right: 0 !important;
    margin: 0,  !important;
  }
   

.feature-header {
  display: flex;
  align-items: center;
  position: relative;
}

.number-badge {
  background-color: hsl(12, 88%, 59%);
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  z-index: 2;
}

  .indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  .indicators input {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    accent-color: red;
  } 

  .social-icon{
    cursor: pointer;
  }


  .placeholder-design.error {
  outline: 2px solid hsl(12, 88%, 59%);
}

/* FOR 992PX */
@media (min-width: 992px) { 
    .navbar-logo {
        width: 12% !important;
    }

   #navBarMenu {
        position: static;          
        top: auto;                
        width: auto;              
        padding: 0;                
        background-color: transparent !important;  
        box-shadow: none;        
        backdrop-filter: none;     
        font-size: 11px !important;
      
    }
    #navBarMenu {
    position: static;        
    width: auto;           
    background-color: transparent !important;
    padding: 0;
    box-shadow: none;
    backdrop-filter: none;
  }

ul li a {
 font-weight: 500!important;
font-size:14px!important;
}


.illustration-intro {
  z-index: 2;
   width: 100%;
   margin-top: -50px;

}

.home-title{
    font-size:45px!important;
    color:hsl(228, 39%, 23%);
}
.manage-description {
  max-width: 400px;
text-align: left!important;
}


.table-pattern {
  position: absolute;
  top: -300px;
  left: 35%;
  z-index: -1;
  width: 110%;
 
}




 .badge-title {
    background-color: transparent;
    padding: 5px 40px;
    min-width: auto;
    z-index: 2;
    font-weight: 700;
  }


.table-pattern-small {
    position: absolute;
    top: 880px;
    left: -30%;
    max-width: 60%;
    z-index: 1!important;

}

.testimonial {
    display: flex;
    gap: 35px;         
    width: max-content;
    animation: scroll 40s linear infinite;
}


@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    width: max(30vw, 300px);
    height: max(25vh, 270px);
    padding: 20px;
    border-radius: 8px;
 z-index: 2 !important;
    animation: none !important;
     position: relative;
}

#testimonialCarousel {
    position: relative; 
    z-index: 10; 
}

.people {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.duplicate{
    display:block !important;
}
.badge-title{
   margin-left: 5px !important;;
}
.num-description{
   padding-left:100px;
}  

.simplify{
max-width:500px;
text-align: left;
}

#orangeBg{
background-color:  hsl(12, 88%, 59%);
padding:40px;
position: relative;
 overflow: hidden;
}

.bg-simplify-section-desktop{
 object-fit: cover!important; 
 z-index: 0;
 
}
.copyright{
margin-top: -50px!important;
}

}



/* for 1200px */
@media (min-width: 1200px) { 

.table-pattern {
  position: absolute;
  top: -340px;
  left: 30%;
  z-index: -1;
  width: 115%;
 
}
.home-title{
    font-size:55px!important;
   
}
.manage-description {
  max-width: 500px!important;

}
.bg-simplify-section-desktop{
  object-fit: cover!important; 
}


    }


@media (max-width: 991px) {
  .testimonial {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .testimonial .card {
    min-width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

}


/* Active */

footer .nav-link:hover {
  color: hsl(12, 88%, 59%) !important;
}
.social-icon:hover {
  filter: brightness(0) saturate(100%)
          invert(48%) sepia(90%)
          saturate(550%) hue-rotate(340deg)
          brightness(95%) contrast(95%);
}

nav li a:hover{
color: gray !important;;
}

#emailError{
 margin-left: -10px !important;;


}