*{
    font-family: 'Be Vietnam Pro', sans-serif ;
}
html,body{
    background-color: hsl(0, 0%, 98%);

}
.hero-container{
    overflow-x: hidden;
    position: relative;
   
       
}
#orangeBg{
background-color:  hsl(12, 88%, 59%);
}
footer{
    background-color: hsl(228, 39%, 23%);
}
#navBarMenu {
    z-index:3;
    position: absolute; 
    top: 90%; 
    width: 85%;
    padding: 25px ;
     background-color: rgba(255,255,255,0.65);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}
ul a{
    color: black !important;

}


#burgerBtn,
#closeBtn {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.table-pattern {
  position: absolute;
  top: -180px;
  left: 70%;
  z-index: 1;
  width: 110%;
 
}

.table-pattern-small {
    position: absolute;
    top: 75px;
    left: 62%;
    width: 80%;
    z-index: 1!important;

}
.illustration-intro {
  z-index: 2;
   width: 90%;
}

.navbar-logo{
width: 40%;
}
.fs-6{
  font-size: 10px!important;
}

.btn-danger{
background-color: hsl(12, 88%, 59%);
border: none;
box-shadow: 0 4px 10px hsla(12, 88%, 59%, 0.4);
 z-index: 2;
   position: relative;
}
.manage-description{
   z-index: 2;
   position: relative;
      
}

.text-justify {
  text-align: justify;
}
.number-badge{
    background-color: hsl(12, 88%, 59%);
    color: white; 
    padding:8px 20px;
    border-radius: 20px;
    position:relative;
    z-index: 1;
    left:20px;
  
}
.badge-title{
     background-color: hsla(12, 88%, 59%, 0.155);
     color:hsl(233, 12%, 13%);
     display:inline-block;
    padding: 7px 30px;
    z-index: 2;
    font-weight: 600;
    font-size: 15px;
    min-width: 309px;

}