*{
    font-family: 'Be Vietnam Pro', sans-serif ;
}

.hero-container{
    overflow-x: hidden;
    position: relative;
   
       
}
#orangeBg{
background-color:  hsl(12, 88%, 59%);
padding:70px;
position: relative;
}
#orangeBg h1{
color:  white;
font-size: 35px;
z-index: 2;
}
footer{
    background-color: hsl(233, 12%, 13%);
}
#navBarMenu {
    z-index:3;
    position: absolute; 
    top: 90%; 
    width: 85%;
    padding: 25px ;
     background-color: rgba(255,255,255,0.65);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}
ul a{
    color: black !important;
font-size: 16px;
}


#burgerBtn,
#closeBtn {
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.table-pattern {
  position: absolute;
  top: -180px;
  left: 15%;
  z-index: -1;
  width: 120%;
 
}

.table-pattern-small {
    position: absolute;
    top: 490px;
    left: 62%;
    width: 80%;
    z-index: 1!important;

}
.illustration-intro {
  z-index: 2;
   width: 100%;
}

.navbar-logo{
width: 40%;
}
.fs-6{
  font-size: 12px!important;
}

.btn-danger{
background-color: hsl(12, 88%, 59%);
border: none;
box-shadow: 0 4px 10px hsla(12, 88%, 59%, 0.4);
z-index: 2;
position: relative;
}
.btn-white{
background-color: white;
border: none;
color:hsl(12, 88%, 59%);

}
.manage-description{
   z-index: 2;
   position: relative;
      
}

.text-justify {
  text-align: justify;
}
.number-badge{
    background-color: hsl(12, 88%, 59%);
    color: white; 
    padding:8px 20px;
    border-radius: 20px;
    position:relative;
    z-index: 1;
    left:20px;
  
}
.badge-title{
    background-color: hsla(12, 88%, 59%, 0.155);
    color:hsl(233, 12%, 13%);
    display:inline-block;
    padding: 7px 30px;
    z-index: 2;
    font-weight: 600;
    font-size: 15px;
    min-width: 309px;

}
.img-testimonial{
position: relative;
    width:20%;
    top:-30px;
    margin-bottom:-5px;
}

.card{
    background-color: hsl(0, 0%, 98%);
    border:none ;
    color:hsl(228, 39%, 23%);
    margin-top: 90px;
}

.carousel-indicators [data-bs-target] {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  border:2px solid #ff4500;

}

.carousel-indicators .active {
  background-color: #ff4500; 
}
.carousel-indicators {
  position: static !important; 
  margin-top: 30px;           
}
.bg-simplify-section-mobile{
    position: absolute;
    left: 0px;
  top: 40px;
  z-index: 1;
 
}
.placeholder-design::placeholder{
    font-size: 13px;
    padding: 10px;
}
.go-btn{
  background-color: #ff4500;  
  padding: 12px 25px; 
  margin-left: 5px;
}

footer ul a{
    font-size:15px!important;
    font-weight: 200 !important;
}

.social-icon{
    width:9%;
    margin:5px;
}
.footer-logo{
  filter: invert(100%) brightness(200%) saturate(0%);
}

.home-title{
    font-size:35px!important;
    color:hsl(228, 39%, 23%);
}
.title-testimonial{
    font-size: 30px!important;
    color:hsl(228, 39%, 23%);
    font-weight:bolder;
    margin-bottom: -5px;;
}

@media (min-width: 992px) { 
    .navbar-logo {
        width: 12% !important;
    }

   #navBarMenu {
        position: static;          
        top: auto;                
        width: auto;              
        padding: 0;                
        background-color: transparent !important;  
        box-shadow: none;        
        backdrop-filter: none;     
        font-size: 11px !important;
      
    }
    #navBarMenu {
    position: static;        
    width: auto;           
    background-color: transparent !important;
    padding: 0;
    box-shadow: none;
    backdrop-filter: none;
  }

ul li a {
 font-weight: 500!important;
font-size:12px!important;
}


.illustration-intro {
  z-index: 2;
   width: 80%;
   margin-top: -50px;
margin-right:100px;
}

.home-title{
    font-size:45px!important;
    color:hsl(228, 39%, 23%);
}
.manage-description {
  max-width: 400px;

}


.table-pattern {
  position: absolute;
  top: -300px;
  left: 0%;
  z-index: -1;
  width: 110%;
 
}




 .badge-title {
    background-color: transparent;
    padding: 5px 40px;
    min-width: auto;
    z-index: 2;
    font-weight: 700;
  }
.num-description{
   padding-left:100px;
}

.table-pattern-small {
    position: absolute;
    top: 1070px;
    left: -30%;
    width: 50%;
    z-index: 1!important;

}
}


@media (min-width: 1200px) { 
.illustration-intro {
  z-index: 2;
   width: 95%;

}
.table-pattern {
  position: absolute;
  top: -340px;
  left: 10%;
  z-index: -1;
  width: 115%;
 
}
.home-title{
    font-size:55px!important;
   
}
.manage-description {
  max-width: 500px!important;

}
.profile {
    display: flex;
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* depends on width */
}



	.people {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.testimonial{
    display: flex;
    width: fit-content;
    margin: max(10%, 100px) 0;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    margin: 0 25px;
    width: max(30vw, 300px);
    height: max(25vh, 330px);
    animation: scroll 50s linear 1s infinite;
}
.profile img{
    width: 75px;
    height: 75px;
    translate: 0 -35px;
}
.profile p {
    width: 80%;
    margin: 20px 0;
}
    }




@media screen and (max-width: 480px) {
    .profile {
        animation: none;
        width: 100vw;
        margin: 0;
    }
    .label-radio label {
        display: flex;
    }
 
    #radio1:checked ~ .avatars .primeiro {
        margin-left: 0;
    }
    #radio2:checked ~ .avatars .primeiro {
        margin-left: -14%;
    }
    #radio3:checked ~ .avatars .primeiro {
        margin-left: -28%;
    }
    #radio4:checked ~ .avatars .primeiro {
        margin-left: -42%;
    }
    #radio1:checked ~ .label-radio #click-radio-1, #radio2:checked ~ .label-radio #click-radio-2, #radio3:checked ~ .label-radio #click-radio-3,
    #radio4:checked ~ .label-radio #click-radio-4 {
        background-color: hsl(12, 88%, 59%);
    }
}


